<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<div id="encabezado" style="display: flex;border: 0.1px solid black;">
    <div style="border: 0.1px solid black;width: 15%; flex-direction: column; display: flex; justify-content: center; align-items: center;"">                
        <img src="../../assets/UA.png" alt="" style="height: 40px;">
        <span style="font-size: 7px; text-align: center;">UNIVERSIDAD DE LA<br>AMAZONIA</span>
    </div>
    <div style="border: 0.1px solid black;width: 85%;">
        <div style="justify-content: center; height: 25px;display: flex; align-items: center;">
            FORMATO CONVOCATORIA CONCURSO MÉRITO DOCENTE
        </div>
        <div style="border-top: solid 0.1px black; display: flex; height: 35px;">
            <div style="border-right: solid 0.1px black; width: 25%; text-align: center;">
                <p style="font-weight: bold;">CÓDIGO:</p>
                <p>FO-M-DC-18-01</p>
            </div> 
            <div style="border-right: solid 0.1px black; width: 25%; text-align: center;">
                <p style="font-weight: bold;">VERSIÓN:</p>
                <p>2</p>
            </div>
            <div style="border-right: solid 0.1px black; width: 25%; text-align: center;">
                <p style="font-weight: bold;">FECHA:</p>
                <p>2021-09-16</p>                            
            </div>
            <div style="width: 25%;text-align: center;">
                <p style="font-weight: bold;">PÁGINA:</p>
                <p>2021-09-16</p>                            
            </div>
        </div>        
    </div>
</div>    


<style type="text/css"> 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .borde{
        border: 0.1px solid black;
    }
    .centrado{
        text-align: center;
        display: flex;
        justify-content: center;        
    }
    .destacado{
        font-weight: bold;        
    }
    body{
        font-family: 'Arial'; 
        font-size: 3.85mm;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #margen{
        width: 216mm;
        height: 297mm;
        /* padding: px; */
        padding: 0mm 20mm 30mm 20mm;
    }
    .titulo{
        font-size: 4mm;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    
    .title-columna{
        font-size: 3.5mm;        
        margin-right: 10px;
        font-weight: bold;
        width: 60%; 
        text-align:center; 
        /* background-color: red; */
        padding: 0;
    }
    
</style>

<body>
    <div  id="margen">          
        <div style="display: flex; flex-direction: column; text-align: center;" id="titulo">
            <p style="font-size: 5.55mm; font-weight: bold; margin-top: 15px;">CONVOCATORIA No.___</p>
            <p style="margin: 0px 0px 15px 0px;">( 30/10/2024 )</p>
        </div>
        <div>
            <p style="margin-bottom: 20px; text-align: justify;">
                LA FACULTAD DE 
                <span class="destacado" style="text-decoration: underline;">INGENIERÍA</span> 
                CONVOCA A CONCURSO PÚBLICO ABIERTO Y DE MÉRITOS PARA VINCULAR A UN DOCENTE 
                <span class="destacado" style="text-decoration: underline;">CATEDRÁTICO</span>
                EN EL PROGRAMA DE 
                <span class="destacado" style="text-decoration: underline;">INGENIERÍA DE SISTEMAS</span>
                EN EL AREA DE
                <span class="destacado" style="text-decoration: underline;">CIENCIAS BÁSICAS</span>
                PARA ORIENTAR:
            </p>
        </div>                
        <div class="borde" id="cursos" style="padding: 0;">
            <p class="titulo" style="border-bottom: solid 0.1px; text-align: center; margin: 0; background-color: rgb(206, 206, 206);">ÁREA DE DESEMPEÑO</p>
            <table id="myTable" class="display">
                <thead >
                    <tr>
                        <th style="width: 60%;">Descripción</th>
                        <th style="width: 20%;">Intensidad Horaria</th>
                        <th style="width: 20%;">Lugar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><li style="padding: 5px;">Este es un curso con un nombre muy largo que deseo probar para verificar que todo queda muy bien</li></td>
                        <td style="text-align: center;">64</td>
                        <td>Florencia</td>                        
                    </tr>                    
                    <tr>
                        <td><li style="padding: 5px;">Este es un curso con un nombre muy largo que deseo probar para verificar que todo queda muy bien</li></td>
                        <td style="text-align: center;">64</td>
                        <td>Florencia</td>                                                
                    </tr>
                </tbody>
            </table>                        
            <div style="margin: 5px; text-align: justify;"><spam style="font-weight: bold;">Labor complementaria:</spam> Este es el  campo de labor complementaria vamos a probar hasta dónde se puede exptender</div>
        </div>
        <div class="" id="cuerpo">
            <div class="" id="formacion">
                <p class="titulo">TÍTULO PROFESIONAL REQUERIDO</p>
                <div id="for_pregrado">
                    <ul style="margin-left: 20px; text-align: justify;">
                        <li>
                            Ingeniero Agroecólogo, Ingeniero en Agroecología, Ingeniero Agrónomo, Ingeniero Agrícola, Ingeniero Ambiental o Afines.
                        </li>
                    </ul>
                </div>
                <p class="titulo">ESTUDIOS DE POSGRADO</p>
                <div id="for_posgrado">
                    <ul style="margin-left: 20px; text-align: justify;">
                        <li>
                            Especialista en el área Ciencias Agrarias, Agroforestería, Ciencias Biológicas, Sistemas Sostenibles de Producción
                            o afines o experiencia certificada en el área de conocimiento no inferior a 36 meses
                        </li>
                    </ul>
                </div>
                <p class="titulo">CONOCIMIENTOS ESPECÍFICOS</p>
                <div id="for_conocimientos">
                    <ul style="margin-left: 20px; text-align: justify;">
                        <li>
                            Conoce el origen de la agricultura como base de la agroecología y los hechos históricos a nivel mundial que
                            desencadenan la revolución verde. Identifica los movimientos que dan inicio a la Agroecología.
                        </li>
                    </ul>
                </div>
            </div>            
            <div class="" id="experiencia" style="margin: 15px 0px;">
                <p><span class="titulo">EXPERIENCIA MÍNIMA REQUERIDA</span> (o su equivalente según la normatividad interna vigente)</p>
                <div style="display: flex; justify-content: space-between;">
                    <div id="exp_docencia" style="margin-top: 15px; margin-left: 20px;"><span class="destacado">Docencia Universitaria:</span> 1 año</div>
                    <div id="exp_profesional" style="margin-top: 15px;"><span class="destacado" >Profesional:</span> 2 años </div>
                    <div id="exp_investigacion" style="margin-top: 15px;"><span class="destacado">Investigación:</span> -0- </div>
                </div>
            </div>
            <div class="" id="competencias">
                <p class="titulo" style="margin-top: 0px;">COMPETENCIAS REQUERIDAS</p>
                <div id="com_personales">
                    <ul style="margin-left: 20px; text-align: justify;">
                        <li class="destacado">Personales:</li>
                            <p style="text-align: justify; margin: 8px 0px;">
                                Transparencia, compromiso institucional, liderazgo y trabajo en equipo
                            </p> 
                        <li class="destacado">Comportamentales:</li>
                            <p style="text-align: justify; margin: 8px 0px;">
                                Liderazgo, toma de decisiones, atención detallada, construcción de ralaciones, iniciativa, aprendizaje contínuo,
                                creatividad e innovación, liderazgo de grupos de trabajo, trabajo en equipo, manejo de la información,
                                adaptación al cambio, disciplina, relaciones interpersonales, colaboración, valores éticos y morales, manejo de
                                público
                            </p> 
                        <li class="destacado">Técnicas:</li>
                            <p style="text-align: justify; margin: 8px 0px;">
                                Planeación, Aplicación a modelos pedagógicos, aplicación de estrategias didácticas, inclusión de TIC en la
                                labor docente, conocimiento del entorno, experticia profesional, experiencia profesional, dirección y desarrollo
                                personal, expresión oral, redacción, razonamiento numérico, habilidad para digitación de datos, habilidad
                                manejo de hojas de cálculo, habilidad manejo y estética de cuadros y trabajos
                            </p>
                    </ul> 
                    
                </div>                
            </div>
            <div class="" id="requisitos">
                <p class="titulo">REQUISITOS MÍNIMOS PARA INSCRIPCIÓN</p>
                <div id="req_listado">
                    <ol style="margin-left: 40px;">
                        <li style="text-align: justify;">Ser ciudadano colombiano o extranjero con permiso de trabajo. </li>
                        <li style="text-align: justify;">Hoja de Vida en formato único de la Función Pública, actualizada y foliada con los siguientes soportes:</li>
                        <ul style="margin-left: 10px;">
                            <li style="text-align: justify;">Fotocopia de la cédula de ciudadanía </li>
                            <li style="text-align: justify;">Fotocopia de la Tarjeta profesional (en aquellos casos en los que es requisito para el ejercicio de la profesión)</li>
                            <li style="text-align: justify;">Fotocopia de las ACTAS DE GRADO y DIPLOMAS</li>
                            <li style="text-align: justify;">Constancias de trabajo especificando el cargo laboral desempeñado y el tiempo de servicio (fecha de inicio y
                                terminación).</li>
                        </ul>
                        <li style="text-align: justify;">Manifestación bajo Gravedad de Juramento de no estar incurso en inhabilidades o incompatibilidades para ocupar el cargo.</li>
                        <li style="text-align: justify;">Certificado de vigencia de la tarjeta o registro profesional.</li>
                        <li style="text-align: justify;">Entrega del formato FO-M-DC-18-02, mediante el cual se autoriza a la Universidad de la Amazonia para realizar la notificación electrónica y/o por el portal web institucional del resultado de la convocatoria.</li>
                        <li style="text-align: justify;">Antecedentes fiscales en la Contraloría General de la República.</li>
                        <li style="text-align: justify;">Antecedente Judiciales en la Policía Nacional.</li>
                        <li style="text-align: justify;">Medidas Correctivas en la Policía Nacional.</li>
                        <li style="text-align: justify;">Consulta de Inhabilidades por Delitos Sexuales.</li>                        
                    </ol>                    
                </div>
            </div>
            <div class="" id="inscripcion">
                <p class="titulo">INSCRIPCIÓN</p>
                <div id="ins_fecha_inicio" style="margin-left: 20px;"><span class="destacado" style="margin-right: 10px;">Fecha:</span> 
                    Desde el
                    <span class="" style="text-decoration: underline;">16/01/2024</span>                     
                    hasta el 
                    <span class="" style="text-decoration: underline;">16/01/2024</span> 
                    </div>
                <div id="ins_fecha_cierre" style="margin-left: 20px;"><span class="destacado" style="margin-right: 10px;">Lugar:</span> 
                    Solo por el correo fingenieria@uniamazonia.edu.co
                    </div>
                <div id="ins_hora_inicio" style="margin-left: 20px;"><span class="destacado" style="margin-right: 20px;">Hora:</span> 
                    De 8:00 AM a 11:00 AM y de 2:00 PM a 5:00 PM
                    </div>
                <div id="ins_hora_cierre"></div>
            </div>
            <div class="" id="prueba">
                <div id="pru_detalle">
                    <p class="titulo">PRUEBA DE CONOCIMIENTO</p>
                    <p style="text-align: justify; margin-left: 20px;">En esta prueba se evaluará competencias disciplinares y competencias
                    pedagógicas. Se realizará una prueba de conocimiento de manera oral y/o escrita evaluada por los tres (3) jurados
                    seleccionados por la Universidad. Los jurados dispondrán un máximo de veinte minutos para evaluar cada
                    aspirante, excepcionalmente el Presidente del Consejo de Facultad establecerá otros tiempos en casos especiales.</p></div>                
                <div style="display: flex; margin-top: 10px;">
                    <div id="pru_fecha" style="margin-left: 20px;"><span class="destacado" style="margin-right: 10px;">Fecha de la prueba:</span> 19/12/2025</div>                
                    <div id="pru_hora" style="margin-left: 20px;"><span class="destacado" style="margin-right: 10px;">Hora:</span> 4:00 PM</div>                
                </div>
                <div id="pru_lugar" style="margin-left: 20px;"><span class="destacado" style="margin-right: 10px;">Lugar:</span> Oficina de la Facultad de Ciencias contables, económicas y administrativas</div>                
            </div>
            <div class="" id="resultados">      
                <p class="titulo">PUBLICACIÓN DE RESULTADOS</p>          
                <p style="text-align: justify; margin-left: 20px;">
                    A partir del
                    <span style="text-decoration: underline;">16/01/2024</span> 
                    en la oficina de la Facultad de
                    <span style="text-decoration: underline;">INGENIERÍA</span> 
                    de la Universidad de la Amazonia o en el portal web institucional o envío por correo electrónico.</p>
                <div id="res_fecha"></div>                
                <div id="res_lugar"></div>                
            </div>
        </div>
        <div class="" id="firmas">
            <div class="centrado" id="rector" style="margin-top: 80px;">
                <div class="" id="rec_firma">Rector FABIO BURITICA BERMEO</div>                
                <div class="" id="rec_resolucion"></div>                
            </div>
            <p style="margin-top: 20px;">Revisado por:</p>
            <div class="centrado" style="justify-content: space-between;margin-top: 80px;">
                <div class="" id="decano">
                    <div class="" id="dec_firma">Vicerrector Académico JAVIER MARTÍNEZ</div>                
                    <div class="" id="dec_resolucion"></div>                
                </div>
                <div class="" id="vicerector">
                    <div class="" id="vic_firma">Decano KELLY JOHANNA TOLEDO</div>                
                    <div class="" id="vic_resolucion"></div>                
                </div>
            </div>
        </div>
    </div>
</body>
</html>